/* BASE STYLES */
body {
    background-color: #E5E5E5;
    color: #444444;
    font-size: 16px;
}
img {
    width: 100vw;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

/* NAV STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* VARIANT STYLES */

/* GUARANTEES STYLES */








@media only screen and (min-width: 768px) {
    /*Tablet styles here*/

/* BASE STYLES */

/* NAV STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* VARIANT STYLES */

/* GUARANTEES STYLES */

}
 



@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

/* NAV STYLES */

/* HEADER STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* VARIANT STYLES */

/* GUARANTEES STYLES */

}

 