/* BASE STYLES */
html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 90vw;
    margin: auto;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.flex {
    display: flex;
}
.font {
    font-family: 'Bungee', cursive;
}

/* NAV STYLES */

        /* Figure out hamburger menu */
.logo {
    width: 35%;
}

/* PRODUCT IMAGE STYLES */
.padlock {
    height: 1em;
}
.secure p {
    flex-flow: wrap;
    margin: 0;
}
.product-img img {
    width: 90vw;
}

/* PRODUCT INFORMATION STYLES */
h1, h2 {
    color: #0547A0;
}

/* VARIANT STYLES */
.variant img {
    width: 30%;
}

/* GUARANTEES STYLES */








@media only screen and (min-width: 768px) {
    /*Tablet styles here*/

/* BASE STYLES */

/* NAV STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* VARIANT STYLES */

/* GUARANTEES STYLES */

}
 



@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

/* NAV STYLES */

/* HEADER STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* VARIANT STYLES */

/* GUARANTEES STYLES */

}

 