/* BASE STYLES */
html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    width: 90vw;
    margin: auto;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
.flex {
    display: flex;
}
.font {
    font-family: 'Bungee', cursive;
}

/* NAV STYLES */

        /* Figure out hamburger menu */
.logo {
    width: 35%;
}

/* PRODUCT IMAGE STYLES */
.product-aside {
    justify-content: space-between;
    font-size: 14px;
}
.secure {
    width: 25%;
    align-items: center;
}
.padlock {
    height: 1em;
}
.secure p {
    margin: 0;
    padding-left: .5em;
}
.ship {
    width: 35%;
    text-align: right;
}
.product-img {
    width: 100%;
}

/* PRODUCT INFORMATION STYLES */
.product-content {
    padding: 1.5em;
    text-align: center;
}
.price-area, .financing {
    
}
h1, h2 {
    color: #0547A0;
}
h1 {
    font-size: 2.5em;
}
.cost {
    color: red;
    font-size: 2.25em;
    font-weight: bold;
}
.old-cost {
    font-size: 20px;
    text-decoration: line-through;
}
.small-print {
    font-size: .8em;
}

/* BUTTON STYLES */

/* VARIANT STYLES */
.variant img {
    width: 30%;
}

/* GUARANTEES STYLES */








@media only screen and (min-width: 768px) {
    /*Tablet styles here*/

/* BASE STYLES */

/* NAV STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* BUTTON STYLES */

/* VARIANT STYLES */



/* GUARANTEES STYLES */

}
 



@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

/* NAV STYLES */

/* HEADER STYLES */

/* PRODUCT IMAGE STYLES */

/* PRODUCT INFORMATION STYLES */

/* BUTTON STYLES */

/* VARIANT STYLES */

/* GUARANTEES STYLES */

}

 